.button {
    height: 43px;
    border-radius: 50px;
    width: 196px;
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    cursor: pointer;
}